body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#aboutbtn {
  background-color: transparent;
  position: absolute;
  left: 30px;
  top: 30px;
  color: whitesmoke;
  border: none;
}

#aboutbtn:hover {
  cursor: pointer;
}

#slider {
  position: absolute;
  right: 30px;
  top: 30px;
  color: gray;

}
#slider:hover {
  cursor: grab;
}
.slider {
  position: absolute;
  right: 30px;
  top: 30px;
  color: 'whitesmoke'
}

.tempoText {
  font-size: 12px;
  position: relative;
  top: 15px;
  right: 45px;
}

.sliderchild {
  font-size: 12px;
  position: relative;
  top: 10px;
  color: whitesmoke;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 50%;
  bottom: 40px;
  opacity: 80%;
  background: whitesmoke;
}

.closer {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.closer:hover {
  cursor: pointer;
}

.modalTextDiv {
  padding: 30px;
  background-color: whitesmoke;
}

#particles {
  position:absolute;
  width: 100%;
  height: 100%;
}

#particles canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  text-align: 'center'; 
  padding-top: '8%';
  padding-bottom: '250px';
  font-size: '60px'; 
  background: '#38373d';
  color: 'whitesmoke';
  height: '100%'

}

.App {
  position: relative;
}

#chat-box {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: transparent;
  color: whitesmoke
}

ul {
  list-style-type: none;
}

.startstop {
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: transparent;
  color: whitesmoke;
  border: none;
}
.startstop:hover {
  cursor: pointer
}

.startstop2 {
  border-radius: 5px;
  position: absolute;
  bottom: 80px;
  right: 50px;
  background: transparent;
  color: whitesmoke;
  border: none
}
.startstop2:hover {
cursor: pointer
}